@import '../../../config/mixins.scss';
@import "../../../config/Variables";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.features {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
    flex-direction: row;
    @include sm {
        padding: 50px;
    }
	.feature {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.featureIcon {
		width: 50px;
		height: 50px;
        svg {
            color: $salmon-pink;
        }
	}
}

.feature {
	.title {
		font-size: $fs-1;
		font-weight: 600;
		margin: 16px;
	}
	.desc {
		color: #888;
		width: 75%;
		height: 100px;
		text-transform: capitalize;
	}
}